 <title>{% block title %}Circet-Historique{% endblock %}</title>
{% block stylesheets %}
        <link rel="stylesheet" href="{{asset('css/Historique.css')}}">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  {% endblock %}
{% block body %}
     {{ include('Pages/sidebar.html.twig') }}
     <div class="home_content">
            <div class="text">Historique</div>
            <div class="mainPart">
                <div class="sort">
                    <input type="text" placeholder="Search" >
                    <select name="machine">
                            <option selected disabled>machine</option>
                            <option value="computer">Computer</option>
                            <option value="cable">Cable</option>
                            <option value="scanner">scanner</option>
                    </select>
                    <select name="role">
                            <option selected disabled>role</option>
                            <option value="admin">Admin</option>
                            <option value="super-admin">Super-Admin</option>
                            <option value="It_service">IT-service</option>
                    </select>
                     <select name="autocad">
                            <option selected disabled>autocad</option>
                            <option value="yes">yes</option>
                            <option value="no">no</option>
                    </select>
                    <button>   Sort  </button>
                </div>
                <div class="log">
                       <img src="{{asset('images/user.png')}}" alt=""> <label for="name" class="name">XjonSnow </label> has taken<label for="name" class="name">Dell G5 5500</label> with a <label for="state">good state</label>
                        <div class="time"> 20/04/2023    16:15 </div>
                </div>
                 <div class="log">
                       <img src="{{asset('images/user.png')}}" alt=""> <label for="name" class="name">Ayman</label> has taken <label for="name" class="name">scanner</label> with a <label for="state">bad state</label>
                         <div class="time"> 20/04/2023    16:15 </div>
                    </div>
                 <div class="log">
                       <img src="{{asset('images/user.png')}}" alt=""> <label for="name" class="name">othmane </label> has taken <label for="name" class="name">hp pavillion</label>with a <label for="state">bad state</label>
                         <div class="time"> 20/04/2023    16:15 </div>
                </div>
            </div>
      </div>
{% endblock %}
  {% block javascripts %}
            <script src="{{asset('JS/sidebar.js')}}"></script>
   {% endblock %}