<title>
	{% block title %}Circet-Accueil
	{% endblock %}
</title>
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/Homepage.css')}}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
{{ include('Pages/sidebar.html.twig') }}
{% block body %}
{% if userInfo.roles[0] == "IT SERVICE"  %}
	<div class="notifications btn-group dropup">
		<button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class='bx bx-bell  bx-sm mr-2'></i>Notifications
			<div class=" nbrNotifications">{{ NotificationCount }}</div>
		</button>
		<div class="dropdown-menu">
			<h6>notifications récentes</h6>
			<hr/>
			<ul>
				{% if RecentNotification|length > 0  %}
					{% for noti in RecentNotification %}
						<li>
							{# <img
													src="{{asset('images/decline.png')}}"/> #}
							<img
							src="{{asset(noti.srcImg())}}"/>

							{# <img src="/CIRCET-STOCK/public/images/decline.png" /> #}
							<p style="font-size: .77rem; ">{{noti.description}}</p>
						</li>

						<hr/>
					{% endfor %}
				{% else %}
					<li>

						<p style="font-size: .77rem; ">Pas de notifications</p>
					</li>

					<hr/>
				{% endif %}
				<li style=" height: 2px;" >
					<button type="button" class="voirPLus" data-toggle="modal" data-target="#exampleModal">
						Voir plus
					</button>
				</li>
			</ul>
		</div>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Centre des notifications</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<ul>
				{% if AllNotification|length > 0  %}
					{% for noti in AllNotification %}
						<li>
							{# <img
													src="{{asset('images/decline.png')}}"/> #}
							<img
							src="{{asset(noti.srcImg())}}"/>

							{# <img src="/CIRCET-STOCK/public/images/decline.png" /> #}
						
							
							<p style="font-size: .77rem; ">{{noti.description}}</p>
							<h6  class="NotiDate" style="font-size: .65rem; ">{{ noti.getDateNotifications() }}</h6>
							
						
						</li>

						<hr/>
					{% endfor %}
				{% else %}
					<li>

						<p style="font-size: .77rem; ">Pas de notifications</p>
					</li>

					<hr/>
				{% endif %}
				
			</ul>
				</div>
	
			</div>
		</div>
	</div>
	{% endif %}
	<div class="home_content">
		{% for flash_message in app.session.flashbag.get('success') %}
			<div class="alert  alert-success fade show" role="alert">
				<strong>Succès!</strong>
				{{flash_message}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endfor %}
		<div class="text">Stock matériel</div>
		<form action="{{ path('HomePage') }}" method="GET">
			<div class="sort">
				<input type="text" name="ModelSearch" placeholder="@model">
				<input type="text" name="MarqueSearch" placeholder="@marque">
				<select name="machine">
					<option selected disabled>Type</option>
					<option value="computer">Ordinateur</option>
					<option value="cable">Cable</option>
					<option value="scanner">Scanner</option>
				</select>

				<button type="submit">
					Recherche
				</button>
			</form>
			<form>
				<button onclick="refreshPage()" class="reload">
					<i class="fa-solid fa-rotate-right fa-lg"></i>
				</button>
			</form>
		</div>
		<div class="materiel_area">


			{% for  item in data %}
				{% if item %}


					<div class="materiel">
						<div class="pic">
							{% if item.getImgSrc() is empty   %}
								<img src="{{asset('images/laptop.png')}}" style="width:150px;" alt="">
							{% else %}
								<img src="/CIRCET-STOCK/public/{{item.getImgSrc()}}" style="width:150px; max-height:150px;" alt="no pic">
								{# <img src="{{asset(item.getImgSrc())}}" style="width:150px; max-height:150px;" alt="no pic"> #}
							{% endif %}
						</div>

						<div class="details">
							<p class="small text-muted">{{item.model.type}}
							</p>

						</div>
						<div class="action">
							{% for permission in userInfo.getUserPermission() %}
								{% if permission.getPermissionName() == "Demande matériel" %}
									<a href="Affectation/{{item.id}}">
										<button>Demande</button>
										<a/>
									{% endif %}
									{% if permission.getPermissionName() == "Voir Matériel Détails" %}
										<a href="materialView/{{item.id}}">
											<button type="button" class="start">Détails</button>
											<a/>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% else %}
						{# <div class="noData">
							<img src="{{asset('images/noData.png')}}">
						</div> #}
						<div class="noData"><img src="/CIRCET-STOCK/public/images/noData.png"></div>
					{% endfor %}
				</div>

			</div>

		{% endblock %}

		{% block javascripts %}
			<script src="{{asset('JS/HomePage.js')}}"></script>
			<script src="{{asset('JS/sidebar.js')}}"></script>
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% endblock %}
