<title>
	{% block title %}Circet-Accueil
	{% endblock %}
</title>
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/Homepage.css')}}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{{ include('Pages/sidebar.html.twig') }}
{% block body %}

	<div class="home_content">
		<div class="text">Stock matériel</div>
		<div class="sort">
			<input type="text" placeholder="Rechercher">
			<select name="machine">
				<option selected disabled>Type</option>
				<option value="computer">Ordinateur</option>
				<option value="cable">Cable</option>
				<option value="scanner">Scanner</option>
			</select>

			<button>
				Sort
			</button>
		</div>
		<div class="materiel_area">


			{% for  item in data %}
				<div class="modal fade" id="model{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel ">{{item.model.marque.getMarqueName()}}</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="pop_picture">


									{% if item.getImgSrc() is empty   %}
										<img src="{{asset('images/laptop.png')}}" style="width:180px;" alt="">

									{% else %}
									<img src="/CIRCET-STOCK/public{{item.getImgSrc()}}" style="width:200px; max-height:200px;" alt="no pic">
								{% endif %}
								</div>
								<div class="pop_desc">

									Modèle :
									<label for="name" id="customerId">{{item.model.getModelName()}}</label>
									<br>
									Type :
									<label for="name">{{item.model.getType()}}</label><br>
									Serial number :
									<label for="name">{{item.getSerialNum()}}</label><br>
									État :
									<label for="name">{{item.state}}</label><br>
									Disponibilité :
									<label for="name">
										{% if item.available == 1 %}
											Yes
										{% else %}
											No
										{% endif %}
									</label><br>
									{% if item.model.getType() == "Desktop" or item.model.getType() == "Laptop" %}
									mac_ethernet :
									<label for="name">{{item.getMacEthernet()}}</label><br>
									Mac_wifi :
									<label for="name">{{item.getMacWifi()}}</label><br>
									{% endif %}
									description :
									<label for="name">{{item.description}}</label><br>

								</div>
							</div>
							<div class="modal-footer close_button">
								<button type="button" data-dismiss="modal">Annuler</button>
							</div>
						</div>
					</div>
				</div>
				<div class="materiel">
					<div class="pic">
						{% if item.getImgSrc() is empty   %}
									<img src="{{asset('images/laptop.png')}}" style="width:150px;" alt="">

								{% else %}
									<img src="/CIRCET-STOCK/public{{item.getImgSrc()}}" style="width:150px; max-height:150px;" alt="no pic">
								{% endif %}
					</div>

					<div class="details">
						<label for="name">{{item.model.marque.getMarqueName()}}
							{{item.model.getModelName()}}</label>
					</div>
					<div class="action">
						<button>Demande</button>
						<button type="button" data-toggle="modal" class="start" data-target="#model{{item.id}}">Détails</button>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('JS/HomePage.js')}}"></script>
	<script src="{{asset('JS/sidebar.js')}}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
