{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{{asset('css/sidebar.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-TY6ar5i3FCijZzFv+iGibWd6NUmnca6H5y5r5Q6lYU+jms0IQxh26RpX9Mv0zWNN0lb7lnpPxyVTdIvAVe8wDg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  {% endblock %}
{% block body %}
      <div class="sidebar">
        <div class="logo_content">
          <div class="logo">
              <i class='bx bxs-package'></i>
              <div class="logo_name">CircetStock </div> 
          </div>
          <i class='bx bx-menu'  id="btn" ></i>
        </div>
        <ul class="nav_link">
          <li> 
              <a href="{{path('HomePage')}}">
                    <i class='bx bx-home'></i>
                    <span class="links_name">Home</span>
              </a>
              <span class="tooltip">Home</span>
          </li>
           {% if userInfo.roles[0] == "ROLE_ADMIN" %} 
          
           <li> 
              <a href="{{path('Dashboard')}}">
                    <i class='bx bxs-dashboard' ></i>
                    <span class="links_name">Dashboard</span>
              </a>
               <span class="tooltip">Dashboard</span>
          </li>

            <li> 
              <a href="{{path('Users')}}">
                    <i class='bx bxs-user-plus'></i>
                    <span class="links_name">Users</span>
              </a>
               <span class="tooltip">Users</span>
          </li>
           <li> 
              <a href="{{path('Stock')}}">
                    <i class='bx bx-package'></i>
                    <span class="links_name">Stock</span>
              </a>
               <span class="tooltip">Stock</span>
          </li>
           <li> 
              <a href="{{path('Role')}}">
                   <i class='bx bx-briefcase-alt-2'></i>
                    <span class="links_name"> Role</span>
              </a>
               <span class="tooltip">Role</span>
          </li>
          <li> 
              <a href="{{path('Permission')}}">
                    <i class='bx bx-spreadsheet'></i>
                    <span class="links_name">Permission</span>
              </a>
               <span class="tooltip">Permission</span>
          </li>
       {% endif %}
            <li> 
              <a href="{{path('Profile')}}">
                    <i class='bx bxs-user-rectangle'></i>
                    <span class="links_name">Profile</span>
              </a>
               <span class="tooltip">Profile</span>
          </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="{{asset('images/user.png')}}" alt="">
                    <div class="name_role">
                        <div class="name">{{userInfo.username}}</div>
                        <div class="role">{{userInfo.job}}</div>
                    </div>
                </div>
               <a href="{{ path('fos_user_security_logout') }}"> <i class='bx bx-log-out'  id="log_out" ></i></a>
            </div>
        </div>
      </div>
     
{% endblock %}
