{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{{asset('css/sidebar.css')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-TY6ar5i3FCijZzFv+iGibWd6NUmnca6H5y5r5Q6lYU+jms0IQxh26RpX9Mv0zWNN0lb7lnpPxyVTdIvAVe8wDg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

{% endblock %}
{% block body %}
{% if userInfo.Connected %}
	{% if userInfo.roles[0] == "IT SERVICE"  %}
		<div class="notifications btn-group dropup">
			<button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class='bx bx-bell  bx-sm mr-2'></i>Notifications
				<div class=" nbrNotifications">{{ AllNotification|length }}</div>
			</button>
			<div class="dropdown-menu">
				<h6>notifications récentes</h6>
				<hr/>
				<ul>
					{% if RecentNotification|length > 0  %}
						{% for noti in RecentNotification %}
							<li>
								
												
								<img
								src="{{asset(noti.srcImg())}}"/>

								
								<p style="font-size: .77rem; ">{{noti.description}}</p>
							</li>

							<hr/>
						{% endfor %}
					{% else %}
						<li>

							<p style="font-size: .77rem; ">Pas de notifications</p>
						</li>

						<hr/>
					{% endif %}
					<li style=" height: 2px;">
						<button type="button" class="voirPLus" data-toggle="modal" data-target="#exampleModal">
							Voir plus
						</button>
					</li>
				</ul>
			</div>
		</div>
	{% endif %}
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Centre des notifications</h5>x
				<a href="{{path('DeleteNotification')}}" class="close" >&times;</a>
				</div>
				<div class="modal-body noti-body">
					<ul>
						{% if AllNotification|length > 0  %}
							{% for noti in AllNotification %}
								<li>
									
																																										
									<img
									src="{{asset(noti.srcImg())}}"/>

									


									<p style="font-size: .77rem; ">{{noti.description}}</p>
									<h6 class="NotiDate" style="font-size: .65rem; ">{{ noti.getDateNotifications() }}</h6>


								</li>

								<hr/>
							{% endfor %}
						{% else %}
							<li>

								<p style="font-size: .77rem; ">Pas de notifications</p>
							</li>

							<hr/>
						{% endif %}

					</ul>
				</div>

			</div>
		</div>
	</div>
{% endif %}
	<div class="sidebar">
		<div class="logo_content">
			<div class="logo">
				<i class='bx bxs-package'></i>
				<div class="logo_name">CircetStock
				</div>
			</div>
			<i class='bx bx-menu' id="btn"></i>
		</div>
		<ul class="nav_link">
			{% if userInfo.Connected %}
				{% if userInfo.roles[0] == "ROLE_ADMIN" or userInfo.roles[0] == "SUPER ADMIN" %}

					{% for permission in userInfo.getUserPermission() %}
						{% if permission.getPermissionName() == "Voir notification" %}
						
							<li >
								<button class="bbttnn"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
								<a href="#">
									
										<i class='bx bx-bell bx-sm'></i><span class="links_name">Activites</span>
										<div class=" notlinkCount">{{AllNotification|length }}</div>
									
								</a>
								<span class="tooltip">Activites</span>
							</button>
							</li>
							
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if userInfo.roles[0] == "IT SERVICE" %}
				{% for permission in userInfo.getUserPermission() %}
					{% if permission.getPermissionName() == "Voir accueil" %}
						<li>
							<a href="{{path('HomePage')}}">
								<i class='bx bx-home'></i>
								<span class="links_name">Accueil</span>
							</a>
							<span class="tooltip">Accueil</span>
						</li>
					{% endif %}
				{% endfor %}
					{% for permission in userInfo.getUserPermission() %}
					{% if permission.getPermissionName() == "Voir restitution" %}
						<li>
							<a href="{{path('restitution')}}">
								<i class='bx bxs-message-alt-detail'></i>
								<span class="links_name">Restitution</span>
							</a>
							<span class="tooltip">Restitution</span>
						</li>
					{% endif %}
				{% endfor %}
				{% endif %}
				{% if userInfo.roles[0] == "ROLE_ADMIN" or userInfo.roles[0] == "SUPER ADMIN" %}

					{% for permission in userInfo.getUserPermission() %}
						{% if permission.getPermissionName() == "Voir tableau de bord" %}
							<li>
								<a href="{{path('Dashboard')}}">
									<i class='bx bxs-dashboard'></i>
									<span class="links_name">Tableau de bord</span>
								</a>
								<span class="tooltip">Tableau de bord</span>
							</li>
						{% endif %}
					{% endfor %}

					{% for permission in userInfo.getUserPermission() %}
						{% if permission.getPermissionName() == "Voir les utilisateurs" %}
							<li>
								<a href="{{path('Users')}}">
									<i class='bx bxs-user-plus'></i>
									<span class="links_name">Utilisateurs</span>
								</a>
								<span class="tooltip">Utilisateurs</span>
							</li>
						{% endif %}
					{% endfor %}

					{% for permission in userInfo.getUserPermission() %}
						{% if permission.getPermissionName() == "Voir les rôles" %}
							<li>
								<a href="{{path('Role')}}">
									<i class='bx bx-briefcase-alt-2'></i>
									<span class="links_name">Rôle</span>
								</a>
								<span class="tooltip">Rôle</span>
							</li>
						{% endif %}
					{% endfor %}

					{% for permission in userInfo.getUserPermission() %}
						{% if permission.getPermissionName() == "Voir les permissions" %}
							<li>
								<a href="{{path('Permission')}}">
									<i class='bx bx-spreadsheet'></i>
									<span class="links_name">Permission</span>
								</a>
								<span class="tooltip">Permission</span>
							</li>
						{% endif %}
					{% endfor %}

					{% for permission in userInfo.getUserPermission() %}
						{% if permission.getPermissionName() == "Voir le stock" %}
							<li>
								<a href="{{path('Stock')}}">
									<i class='bx bx-package'></i>
									<span class="links_name">Stock</span>
								</a>
								<span class="tooltip">Stock</span>
							</li>
						{% endif %}
					{% endfor %}

					{% for permission in userInfo.getUserPermission() %}
						{% if permission.getPermissionName() == "Voir les modèles" %}
							<li>
								<a href="{{path('Model')}}">
									<i class='bx bx-purchase-tag'></i>
									<span class="links_name">Modèle</span>
								</a>
								<span class="tooltip">Modèle</span>
							</li>
						{% endif %}
					{% endfor %}

					{% for permission in userInfo.getUserPermission() %}
						{% if permission.getPermissionName() == "Voir les marques" %}
							<li>
								<a href="{{path('Marque')}}">
									<i class='bx bx-bookmark-plus'></i>
									<span class="links_name">Marque</span>
								</a>
								<span class="tooltip">Marque</span>
							</li>
						{% endif %}
					{% endfor %}

				{% endif %}
			{% endif %}

			{% for permission in userInfo.getUserPermission() %}
				{% if permission.getPermissionName() == "Voir le profil" %}
					<li>
						<a href="{{path('Profile')}}">
							<i class='bx bxs-user-rectangle'></i>
							<span class="links_name">Profil</span>
						</a>
						<span class="tooltip">Profil</span>
					</li>
				{% endif %}
			{% endfor %}

		</ul>
		<div class="profile_content">
			<div class="profile">
				<div class="profile_details">
					<img src="{{asset('images/user.png')}}" alt="">
					<div class="name_role">
						<div class="name">{{userInfo.username}}</div>
						<div class="role">{{userInfo.job}}</div>
					</div>
				</div>
				<a href="{{ path('fos_user_security_logout') }}">
					<i class='bx bx-log-out' id="log_out"></i>
				</a>
			</div>
		</div>
	</div>



{% endblock %}
