 <title>{% block title %}Circet-Stock{% endblock %}</title>
{% block stylesheets %}
      <link rel="stylesheet" href="{{asset('css/UserProfile.css')}}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- Font Awesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
      <!-- MDB -->
      <linkhref="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet"/>
{% endblock %}
{% block body %}
     {{ include('Pages/sidebar.html.twig') }}
      <div class="home_content">
            <div class="text">Stock View</div>
            
            <div class="container mt-2">
                  <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-10 pt-5" >
                              <div class="row z-depth-3">
                                    <div class="col-sm-4 text-center rounded-left" style="background-color: rgb(255, 209, 100);">
                                          <a class="back" href="{{Path}}"><i class='bx bx-chevron-left bx-md'></i></a>      
                                          <div class="img-prod mt-4">
                                                <img src="{{asset('images/laptop.png')}}" class="rounded float-start mt-3 mb-3 w-50" alt="">
                                          </div>
                                          <div class="desc mt-2 mb-3">
                                                <p class="desc-title mb-1 mt-1 ml-2">Description</p>
                                                <textarea class="form-control" style="height: 140px;" disabled  >{{machine.description}}</textarea>
                                          </div>
                                    </div>

                                    <div class="col-sm-7 rounded-right text-center">
                                          <div class="row mb-5 mt-5">
                                                <div class="col-sm-6">
                                                      <p class="font-weight-bold">Type</p>
                                                      <h6 class="text-muted">{{machine.type}}</h6>
                                                </div>
                                                <div class="col-sm-6">
                                                      <p class="font-weight-bold">Serial number</p>
                                                      <h6 class="text-muted">{{machine.getSerialNum()}}</h6>
                                                </div>
                                          </div>

                                          <div class="row mb-5">
                                                <div class="col-sm-6">
                                                      <p class="font-weight-bold">State</p>
                                                      <h6 class="text-muted">{{machine.state}}</h6>
                                                </div>
                                                <div class="col-sm-6">
                                                      <p class="font-weight-bold">Available</p>
                                                       {% if machine.available == 1 %} <span class="badge badge-success rounded-pill d-inline pl-3 pr-3">Yes</span>
                                                      {% else %}  <span class="badge badge-warning rounded-pill d-inline pl-3 pr-3">No</span>
                                                      {% endif %}
                                                </div>
                                          </div>

                                          <div class="row mb-5">
                                                <div class="col-sm-6">
                                                      <p class="font-weight-bold">Mac ethernet</p>
                                                      <h6 class="text-muted">{{machine.getMacEthernet()}}</h6>
                                                </div>
                                                <div class="col-sm-6">
                                                      <p class="font-weight-bold">Mac wifi</p>
                                                      <h6 class="text-muted">{{machine.getMacWifi()}}</h6>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>

{% endblock %}
  {% block javascripts %}
            <script src="{{asset('JS/sidebar.js')}}"></script>
   {% endblock %}